{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "at-rules",
      "declarations",
      {
        "type": "at-rule",
        "name": "media"
      },
      "rules"
    ]
  }
}
