@tailwind base;
@tailwind components;

/* Begin tailwind customizations */
body {
  @apply font-open;
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-normal mb-2;
}

h1 {
  @apply text-5xl font-hairline;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-xl uppercase tracking-widest font-semibold;
}

h4 {
  @apply text-xl;
}

.post p {
  @apply mb-5;
}

.post a {
  @apply underline transition-colors duration-150;
}
.post a:hover, .post a:active {
  @apply text-blue-700;
}

.liked {
	color: red;
}

.loader .progress-bar {
  @apply bg-teal-500;
}

.jiggle-on-hover {
  @apply transform transition-transform duration-200 hover:-translate-y-px;
}
.overlay-article {
  @apply bg-cover bg-center h-article md:h-articleMD flex items-center justify-center relative bg-gray-500 shadow;
}
.overlay-article .title {
  @apply text-white font-bold text-2xl z-10 p-2 text-center
}
.overlay-article .overlay {
  @apply absolute inset-0 bg-black opacity-5 hover:opacity-15 transition-opacity duration-200 z-0
}
.overlay-article .placeholder {
  @apply animate-pulse h-article md:h-articleMD bg-gray-500
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff");
  font-weight: 800;
}

/* end tailwind customizations */

@tailwind utilities;
