@tailwind base;
@tailwind components;

/* Begin tailwind customizations */
body {
  @apply font-open;
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-normal mb-2;
}

h1 {
  @apply text-5xl font-hairline;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-xl uppercase tracking-widest font-semibold;
}

h4 {
  @apply text-xl;
}
.post-container {
 @apply p-2 lg:p-4 bg-white xxl:shadow;
}
.hero + .post-container {
  @apply xxl:rounded xxl:-my-16;
}

.post p {
  @apply mb-5;
}

.post a {
  @apply underline transition-colors duration-150;
}
.post a:hover, .post a:active {
  @apply text-blue-700;
}
.post-gallery {
  @apply xs:grid xs:gap-2 lg:gap-4 xs:auto-rows-fr xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4;
}
.post-gallery > a {
  @apply flex relative mb-4 xs:m-0
}
.photos-page {
  @apply mx-auto max-w-8xl p-2 lg:px-4;
}

.liked {
	color: red;
}

.loader .progress-bar {
  @apply bg-teal-500;
}

.jiggle-on-hover {
  @apply transform transition-transform duration-200 lg:hover:-translate-y-px;
}
.overlay-article {
  @apply bg-cover bg-center h-article md:h-articleMD flex items-center justify-center relative bg-gray-500 shadow;
}
.overlay-article .title {
  @apply text-white font-bold text-2xl z-10 p-2 text-center
}
.overlay-article .placeholder {
  @apply animate-pulse h-article md:h-articleMD bg-gray-500
}
.overlay {
  @apply absolute inset-0 bg-black opacity-5 hover:opacity-15 transition-opacity duration-200 z-0
}

.story-article {
  @apply md:flex bg-gray-100 mb-2 lg:mb-4 last:mb-0 shadow;
}
.story-article .description {
  @apply md:w-2/3 p-2 lg:p-4;
}

.slide-down-enter-active {
  animation: slide-down-in .25s;
}
.slide-down-leave-active {
  animation: slide-down-in .25s reverse;
}
@keyframes slide-down-in {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff");
  font-weight: 800;
}

/* end tailwind customizations */

@tailwind utilities;
